<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <uses-feature android:name="android.hardware.location.gps" android:required="true" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="Precision Location"
        android:usesCleartextTraffic="false"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".LegalNoticeActivity"
            android:screenOrientation="unspecified"
            android:exported="false" />
        <activity
            android:name=".AppSettingsActivity"
            android:screenOrientation="unspecified"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="unspecified"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".PrecisionLocationService"
            android:exported="true"
            android:foregroundServiceType="location"
            android:stopWithTask="true">
            <intent-filter>
                <action android:name="com.lordofrealms.precisionlocation.EXTERNAL_BIND" />
            </intent-filter>
        </service>
    </application>
</manifest>
